<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creativelabs.eventman">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_account_circle_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_account_circle_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventMan"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/Theme.EventMan.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FragmentActivity"
            android:label="@string/title_activity_my_fragment">

        </activity>
        <activity
            android:name=".MyFragmentActivity"
            android:label="@string/title_activity_my_fragment"></activity>
        <activity
            android:name=".MovieActivity"
            android:label="@string/title_activity_movie"
            android:theme="@style/Theme.EventMan.NoActionBar" />
        <activity android:name=".MoviesActivity"></activity>
        <activity android:name=".EventActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />

        <service android:name=".services.HelloService" />
        <service android:name=".services.ForegroundService" />
        <service android:name=".services.BoundService" />
    </application>

</manifest>